$menubarcolor: #f2f2f220;
$menuboxcolor: #e6e6e640;
$fontpcolor: #4d4d4d;
$bgccolor: #ff7bac;
$fonttype: "微軟正黑體";
$fontsize24: 1.8em;
$fontsize20: 1.5em;
$fontsize14: 1.2em;
$fontsize12: 1em;
$fontsize10: 0.8em;