@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #999999;
}

li {
  font-family: "微軟正黑體";
}

.main {
  margin: auto;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bgc.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.container li {
  list-style: none;
}

.container h1 {
  font-size: 5em;
  color: #999999;
  text-align: center;
  line-height: 450px;
}

.container .menubar {
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  background-color: #f2f2f220;
  -webkit-box-shadow: 1px 1px 2px #222;
          box-shadow: 1px 1px 2px #222;
}

.container .menubar .menucanten {
  width: 45px;
  height: 100%;
  position: relative;
  float: right;
}

.container .menubar .menucanten .menu {
  width: 100%;
  height: 100%;
  z-index: 999;
}

.container .menubar .menucanten .menu:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #666;
  top: 8px;
  border-radius: 2px;
}

.container .menubar .menucanten .menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #666;
  bottom: 8px;
  border-radius: 2px;
}

.container .menubar .menucanten .menu.menuani {
  -webkit-animation: menuani 1s;
          animation: menuani 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.container .menubar .menubox {
  width: 180px;
  height: 180px;
  position: absolute;
  display: none;
  background-color: #e6e6e640;
  -webkit-box-shadow: 1px 1px 2px #222;
          box-shadow: 1px 1px 2px #222;
  border-radius: 3px;
  right: 0;
  top: 53px;
  z-index: 999;
}

.container .menubar .menubox .menulist {
  height: calc(100% / 4);
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 40px;
}

.bgccolor {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.bgccolor:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff7bac;
  -webkit-clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
  z-index: -999;
  top: 0;
}

.personal {
  min-width: 590px;
  width: 60%;
  margin: 0px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 2em;
  font-size: 1em;
}

.personal .pic {
  width: 300px;
  height: 250px;
  background: url("../img/pro-03.png") center center no-repeat;
  background-size: cover;
}

.personal .information {
  width: calc(100% - 300px);
}

.personal .information .infor_top span {
  font-family: "微軟正黑體";
  font-size: 1.2em;
  font-style: oblique;
  font-weight: 700;
  color: #4d4d4d;
}

.personal .information .infor_top > p {
  word-spacing: 15px;
  font-family: "微軟正黑體";
  font-size: 1em;
  font-weight: 500;
  color: #4d4d4d;
}

.personal .information .infor_sub {
  width: 100%;
  margin: 20px;
}

.personal .information .infor_sub span {
  padding-left: 30px;
  display: block;
  width: 200px;
  font-style: oblique;
  font-weight: 700;
  font-family: "微軟正黑體";
  font-size: 1.2em;
  color: #4d4d4d;
  background-color: #af474793;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 91% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 91% 100%, 0% 100%);
}

.personal .information .infor_sub > p {
  word-spacing: 10px;
  font-family: "微軟正黑體";
  font-size: 1em;
  font-weight: 500;
  color: #4d4d4d;
}

.experience {
  width: 100%;
  margin: 100px auto 0px;
}

.experience li {
  position: relative;
  list-style-image: url("../img/point.1-02.png");
}

.experience h3 {
  font-family: "微軟正黑體";
  font-size: 1.5em;
  color: #4d4d4d;
}

.experience > .Exp {
  min-width: 380px;
  width: 40%;
  margin: auto;
}

.experience > .Exp .exp_box {
  position: relative;
  width: 80%;
  margin: auto;
}

.experience > .Exp .exp_box:after {
  content: "";
  background-color: #333;
  position: absolute;
  width: 3px;
  height: 250px;
  top: 18px;
  left: -13px;
  z-index: -1;
}

.experience > .Exp .exp_box .exp_infor {
  margin-top: 24px;
}

.introduction {
  position: relative;
  width: 95%;
  margin: 100px auto 0px;
}

.introduction .intro_text {
  width: 60%;
  margin: auto;
  font-family: "微軟正黑體";
  font-size: 1.2em;
}

.skills {
  width: 60%;
  margin: 72px auto 0px auto;
}

.skills .skills_top {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .skills_but {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .skills_box {
  width: clac(100%/4);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skills .skills_1 {
  width: 100%;
  background-image: url("../img/ps-03.png");
}

.skills .skills_2 {
  width: 100%;
  background-image: url("../img/ai-03.png");
}

.skills .skills_3 {
  width: 100%;
  background-image: url("../img/scsslogo.png");
}

.skills .skills_4 {
  width: 100%;
}

.skills .skills_5 {
  width: 100%;
  background-image: url("../img/jquery.png");
}

.skills .skills_6 {
  width: 100%;
  background-image: url("../img/html-03.png");
}

.skills .skills_7 {
  width: 100%;
  background-image: url("../img/css-03.png");
}

.skills .skills_8 {
  width: 100%;
  background-image: url("../img/js-03.png");
}

@-webkit-keyframes menuani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes menuani {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (max-width: 500px) {
  .personal {
    -webkit-transform: scale(0.7) translate(-22%);
            transform: scale(0.7) translate(-22%);
  }
  .information {
    -webkit-transform: translate(-18%);
            transform: translate(-18%);
  }
}
