@import "variable";

body {
  width: 100%;
  height: 100vh;
  background: url(../img/bgc.JPG) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  overflow-x: hidden;
  z-index: -999;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  //input checkbox
  #james {
    display: none;
  }
  // 選單底色
  .menu_box {
    width: 300px;
    height: 100vh;
    padding-left: 10px;
    background: #302525;
    position: relative;
    transform: translate(-100%);
    transition: 0.5s;
    z-index: 999;
    top: 0;
    //選單總設定
    & li {
      width: 150px;
      height: 50px;
      color: #fff;
      font-weight: bold;
      line-height: 2em;
      padding-left: 10px;
      overflow: hidden;
      text-decoration: none;
      display: block;
      font-size: $fontsize20;
      transition: 0.5s;
    }
    //電腦版滑動效果
    li:hover {
      background: #ed585890;
      transform: translateX(5px);
      padding-left: 20px;
      width: 100%;
    }
    //方塊
    & .pp {
      // background: #66666680;
      position: absolute;
      width: 66px;
      height: 66px;
      left: 78%;
      top: 0;
      cursor: pointer;
      transform: translate(100%);
      transition: 0.5s;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: url(../img/arrow.png) no-repeat;
        background-size: 100%;
        position: absolute;
        left: 0%;
        top: 5%;
        transform: rotate(180deg);
        transition: 0.5s;
      }
    }
    //選像清單
    & .menu_list {
      width: 100%;
      height: 100%;
      margin: auto;
      padding-top: 66px;
    }
  }
  //menu 主方塊 左右滑動
  #james:checked + .menu_box .menu_list .pp {
    transform: translate(0%);
    left: 78%;
  }
  #james:checked + .menu_box .menu_list .pp:after {
    transform: rotate(0deg);
  }
  //menu左右滑動
  #james:checked ~ .menu_box {
    transform: translate(0%);
  }
  //公司左右滑動
  #james:checked ~ .one{
    width: calc(100% - 300px);
    left: 300px;
  }
  #james:checked ~ .two{
    width: calc(100% - 300px);
    left: 300px;
  }

  //公司
  .one {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.333);
    padding-top: 66px;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: none;
    > ul.one_total_box {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 5px;
    }
    & li {
      max-width: 130px;
      min-width: 130px;
      width: calc(100% / 5);
      height: 180px;
      margin: 8px 5px;
      display: block;
      background: #fff;
      pointer-events: auto;
      border: 2px solid #f34949;
      text-align: center;
      padding: 5px;
    }
    & a {
      min-width: 100px;
      width: 100%;
      height: 80%;
      display: block;
      background: #5cc3c9;
      text-align: center;
    }
  }
  // 一般切版
  .two {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.333);
    padding-top: 66px;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: none;
    > ul {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 5px;
    }
    & li {
      max-width: 130px;
      min-width: 130px;
      width: calc(100% / 5);
      height: 180px;
      margin: 8px 5px;
      display: block;
      background: #fff;
      pointer-events: auto;
      border: 2px solid #f34949;
      text-align: center;
      padding: 5px;
    }
    & a {
      min-width: 100px;
      width: 100%;
      height: 80%;
      display: block;
      background: #5cc3c9;
      text-align: center;
    }
  }
}
