body{
    position: relative;
    margin: 0;
    padding: 0;    
}
*{
    box-sizing: border-box;
}
.bar{
    
    background-color: rgba(27, 100, 236, 0.5);
    width: 80%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;   
    box-shadow: 0px 1px 3px;
}
ul,a,li{
    margin: 0;
    padding: 0;    
    list-style: none;   
    line-height: 35px;
               
}
a{  
    font-family: '微軟正黑體';
    text-decoration: none;    
    font-size: 12pt;
    margin: 6px;
   
}

.link_all{ 
   position: absolute;
   display: flex;       
   right: 10%;   
   margin-top: -37px;
}

img{
    width: 100px;        
}

.pry{    
    
    background-color: rgba(165, 42, 42, 0.308);    
}
.prt{
    display: none;
    box-shadow: 2px 1px 5px 1px rgba(112, 128, 144, 0.726);
}
/* .link{
    
    box-shadow: 1px 1px 1px 2px rgba(74, 67, 99, 0.199);
    border-radius: 0.2rem;
    background-color: rgba(57, 57, 160, 0.253)
} */
.icon1,.icon2{    
    display: none;
    float: right;
    width: 30px;      
    margin-right: 15%;
    margin-top: -35px;
}
.nm{
        
    position: absolute;
    display: none;      
    right: 10%;   
    margin-top: 2px;    
    border-radius: 0.1rem
 }
 .nk{
     border: 1px solid rgba(0, 110, 255, 0.274);
     border-radius: 0.1rem;
     background-color: rgba(220, 222, 245, 0.596);
 }


@media screen and (max-width:414px){
    
    .link_all{
        display: none;
    }
    .icon1{
        display: none;
    }
    .icon2{
        display: none;
    }
    .nm{
        display: none;
    }

}
